:root {
    --accent: #286c93;
    --surface: #ebebeb;
    --surface-variant: #dedede;
    --text: #3c3c3c;
    --text-strong: #2c2c2c;
    --text-weak: #7c7c7c;
    --border-radius: 10px;
}

* {
    font-family: "Droid Sans Mono", "monospace", monospace !important;
    box-sizing: border-box;
}

::selection {
    background-color: var(--accent);
    color: var(--surface);
}

body {
    background-color: var(--surface);
    color: var(--text);
    font-family: "Droid Sans Mono", "monospace", monospace;
    margin: 0;
}

nav {
    width: 100%;
    position: absolute;
    padding: 1em;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: 1.2em;
        color: var(--text);
        text-decoration: none;
    }

    i {
        font-size: 1.5em;
    }
}

main {
    max-width: 60em;
    margin: 0 auto;
    padding: 2em;
    margin-bottom: 30vh;
}

#cover {
    margin: 20vh 0;
}

@media (max-width: 800px) {
    #cover p {
        font-size: 0.9em;
    }
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: stretch;
}

@media (max-width: 800px) {
    #projects {
        grid-template-columns: 1fr;
    }
}

.project {
    background-color: var(--surface-variant);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 1em;
    height: 100%;

    &:hover {
        opacity: 0.6;
    }

    h1 {
        font-size: 1em;
        font-weight: bold;
        text-decoration: none !important;
        color: var(--accent);
        font-family: sans-serif !important;
    }

    p {
        font-size: 0.8em;
        text-decoration: none !important;
        color: var(--text);
        font-family: sans-serif !important;
        margin: 0;
    }
}

a {
    text-decoration: none;
}
