#cover {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-title {
    font-size: 80px;
}
#cover-title-small {
    font-size: 50px;
}
#cover-description {
    font-size: 20px;
    margin-left: 8px;
}
#cover-description-small {
    font-size: 16px;
    margin-left: 5px;
}

#cover-image {
    /* reflect horizontally */
    transform: scaleX(-1);
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 300px;
}

@media (max-width: 768px) {
    #cover-image {
        width: 200px;
        bottom: 50px;
        right: 20px;
    }
}