#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: calc(min(1000px, 100vw - 100px));
    margin: 0 auto;
    align-items: stretch;
    padding-top: 100px;
    padding-bottom: 400px;
}
@media (max-width: 800px) {
    #projects {
        grid-template-columns: 1fr;
        max-width: calc(min(500px, 100vw - 40px));
    }
}

.project {
    background-color: var(--surface-variant);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 15px;
    height: 100%;
}
.project:hover {
    opacity: 0.6;
}

.project > h1 {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none !important;
    color: var(--primary);
    font-family: sans-serif !important;
}
.project > p {
    font-size: 0.8em;
    text-decoration: none !important;
    color: var(--on-surface);
    font-family: sans-serif !important;
    margin: 0;
}

a {
    text-decoration: none;
}
