#app {
  background-color: var(--surface);
  --color: var(--on-surface);
  --color-09: var(--on-surface-09);
  color: var(--color);
  --transition: all .5s ease;
  --border-radius: 10px;
}
#cover-title {
    font-size: calc(3rem + 3vw);
    font-weight: bold;
    margin-left: calc(-.2rem - .2vw);
}
